*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    text-align: center;
    color:chocolate;
    margin-top: 2px;
}


.card:hover{
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}
.cal-head #result{
    width:365px;
    height: 100px;
    font-size: 2rem;
    text-align: right;
    font-weight: bolder;
    padding: 5px;
    letter-spacing: 0.1rem;
}
.card{
    margin: 0 auto;
    text-align: center;
    width: 365px;
    background-color: darkseagreen;
   font-size: 0;
    margin-top: 10px;
}

.btn{
   
    width: 85px;
    height: 75px;
    font-weight: bolder;
   border: 1px solid black;


}
.btn:hover{
    background-color: palevioletred;
    color: aliceblue;
    font-weight: bolder;
}

